<!-- templates/add_employee.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
    <!-- Vinculación del archivo de estilo -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agregar Nuevo Empleado</h1>
        <!-- Formulario para añadir un empleado -->
        <form action="/add_employee" method="POST">
            <label for="name">Nombre del Empleado:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Agregar Empleado</button>
        </form>

        <br><br>
        <a href="/empleados">Volver a la lista de empleados</a>
    </div>
</body>
</html>
